/.vs
/.vsconfig
/.idea
/Saved
/Intermediate
/DerivedDataCache
/AtomDestiny.sln
/Content/__ExternalObjects__
/Content/__ExternalActors__
/Plugins/Developer/RiderLink/Intermediate/Build
/Plugins/Developer/RiderLink/Intermediate
/AtomDestiny.uproject.DotSettings.user
/Plugins
/Binaries
